django>=1.11.19
Jinja2>=2.10.1
MarkupSafe==0.23
MySQL-python==1.2.5
pillow>=6.2.0
pyyaml>=4.2b1
South==1.0.2
Unidecode==0.04.19
amqp==1.4.9
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.23
coverage==4.0.2
django-appconf==1.0.2
django-auth-ldap==1.2.7
django-avatar==3.0.0
django-bower==5.1.0
django-easy-timezones==0.7.0
django-guardian==1.4.4
django-jquery==1.9.1
django-parsley==0.6
django-widget-tweaks==1.4.1
docker-py==1.8.1
ecdsa==0.13
ipaddress==1.0.14
kombu==3.0.35
paramiko>=2.0.9
pycrypto==2.6.1
pygeoip==0.3.2
pymssql==2.1.3
python-ldap==2.4.25
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2015.7
requests>=2.20.0
uWSGI==2.0.12
websocket-client==0.37.0
wheel==0.24.0
wsgiref==0.1.2
django-mathfilters==0.4.0
supervisor
supervisor-stdout==0.1.1
